# DATA ANALYSIS USING PANDAS

In [1]:
#importing required libraries
import pandas as pd 
import numpy as np

In [2]:
#Loading the data using read function
netflix = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\/netflix_titles.csv", parse_dates=["release_year"],index_col="show_id")
spotify = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\Spotify.csv", index_col="Unnamed: 0")

In [3]:
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [5]:
netflix.shape

(7787, 11)

In [6]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7787 entries, s1 to s7787
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          7787 non-null   object
 1   title         7787 non-null   object
 2   director      5398 non-null   object
 3   cast          7069 non-null   object
 4   country       7280 non-null   object
 5   date_added    7777 non-null   object
 6   release_year  7787 non-null   datetime64[ns]
 7   rating        7780 non-null   object
 8   duration      7787 non-null   object
 9   listed_in     7787 non-null   object
 10  description   7787 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 730.0+ KB

In [7]:
#netflix.describe(include=[np.number]).T 
#this gives an eroor not object to concatenate

In [8]:
spotify.describe(include=[np.number]).T #Transpose the DataFrame to get the more readable output

,count,mean,std,min,25%,50%,75%,max
acousticness,2017.0,0.187590,0.259989,0.000003,0.00963,0.063300,0.265,0.995
danceability,2017.0,0.618422,0.161029,0.122000,0.51400,0.631000,0.738,0.984
duration_ms,2017.0,246306.197323,81981.814219,16042.000000,200015.00000,229261.000000,270333.000,1004627.000
energy,2017.0,0.681577,0.210273,0.014800,0.56300,0.715000,0.846,0.998
instrumentalness,2017.0,0.133286,0.273162,0.000000,0.00000,0.000076,0.054,0.976
key,2017.0,5.342588,3.648240,0.000000,2.00000,6.000000,9.000,11.000
liveness,2017.0,0.190844,0.155453,0.018800,0.09230,0.127000,0.247,0.969
loudness,2017.0,-7.085624,3.761684,-33.097000,-8.39400,-6.248000,-4.746,-0.307
mode,2017.0,0.612295,0.487347,0.000000,0.00000,1.000000,1.000,1.000
speechiness,2017.0,0.092664,0.089931,0.023100,0.03750,0.054900,0.108,0.816
tempo,2017.0,121.603272,26.685604,47.859000,100.18900,121.427000,137.849,219.331
time_signature,2017.0,3.968270,0.255853,1.000000,4.00000,4.000000,4.000,5.000
valence,2017.0,0.496815,0.247195,0.034800,0.29500,0.492000,0.691,0.992
target,2017.0,0.505702,0.500091,0.000000,0.00000,1.000000,1.000,1.000

In [9]:
spotify.describe(include=object).T

           count unique    top freq
song_title  2017   1956  River    3
artist      2017   1343  Drake   16

In [10]:
netflix.describe(include=[object, pd.Categorical]).T

,count,unique,top,freq
type,7787,2,Movie,5377
title,7787,7787,Cinderella and the Four Knights,1
director,5398,4049,"Raúl Campos, Jan Suter",18
cast,7069,6831,David Attenborough,18
country,7280,681,United States,2555
date_added,7777,1565,"January 1, 2020",118
rating,7780,14,TV-MA,2863
duration,7787,216,1 Season,1608
listed_in,7787,492,Documentaries,334
description,7787,7769,A surly septuagenarian gets another chance at ...,3

In [11]:
spotify.describe(include=np.number,percentiles=[0.01,0.05,0.10,0.25,0.5,0.75,0.9,0.95,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,95%,99%,max
acousticness,2017.0,0.187590,0.259989,0.000003,0.000021,0.000298,0.001166,0.00963,0.063300,0.265,0.6278,0.8462,0.97100,0.995
danceability,2017.0,0.618422,0.161029,0.122000,0.211000,0.326800,0.401000,0.51400,0.631000,0.738,0.8194,0.8580,0.91200,0.984
duration_ms,2017.0,246306.197323,81981.814219,16042.000000,114169.800000,156863.200000,176650.200000,200015.00000,229261.000000,270333.000,332968.0000,393475.0000,574149.28000,1004627.000
energy,2017.0,0.681577,0.210273,0.014800,0.057708,0.253800,0.409600,0.56300,0.715000,0.846,0.9194,0.9520,0.98500,0.998
instrumentalness,2017.0,0.133286,0.273162,0.000000,0.000000,0.000000,0.000000,0.00000,0.000076,0.054,0.6866,0.8522,0.93184,0.976
key,2017.0,5.342588,3.648240,0.000000,0.000000,0.000000,0.000000,2.00000,6.000000,9.000,10.0000,11.0000,11.00000,11.000
liveness,2017.0,0.190844,0.155453,0.018800,0.037864,0.056740,0.069220,0.09230,0.127000,0.247,0.3820,0.5380,0.76756,0.969
loudness,2017.0,-7.085624,3.761684,-33.097000,-21.852120,-14.152600,-11.164800,-8.39400,-6.248000,-4.746,-3.6586,-3.0672,-1.92304,-0.307
mode,2017.0,0.612295,0.487347,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000,1.0000,1.0000,1.00000,1.000
speechiness,2017.0,0.092664,0.089931,0.023100,0.026400,0.028900,0.031200,0.03750,0.054900,0.108,0.2174,0.3100,0.42084,0.816
tempo,2017.0,121.603272,26.685604,47.859000,72.527840,80.953400,89.184600,100.18900,121.427000,137.849,159.1010,171.9306,189.98288,219.331
time_signature,2017.0,3.968270,0.255853,1.000000,3.000000,4.000000,4.000000,4.00000,4.000000,4.000,4.0000,4.0000,5.00000,5.000
valence,2017.0,0.496815,0.247195,0.034800,0.055060,0.111000,0.166000,0.29500,0.492000,0.691,0.8444,0.9092,0.96400,0.992
target,2017.0,0.505702,0.500091,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000,1.0000,1.0000,1.00000,1.000

Description of any data is as usefull as the data itself, many times data anylst work on data which is not from their domain, in that case data description can help giving the information required. plus you can't always guess from the column name what data is all about.

>It will often be the case that the dataset you are working with originated from a database
whose administrators you will have to contact in order to get more information. Formal
electronic databases generally have more formal representations of their data, called
schemas. If possible, attempt to investigate your dataset with people who have expert
knowledge on its design.

## Reducing  the memory by changing the data type

In [12]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [13]:
spotify.dtypes

acousticness        float64
danceability        float64
duration_ms           int64
energy              float64
instrumentalness    float64
key                   int64
liveness            float64
loudness            float64
mode                  int64
speechiness         float64
tempo               float64
time_signature      float64
valence             float64
target                int64
song_title           object
artist               object
dtype: object

In [14]:
spotify.columns.values

array(['acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'target',
       'song_title', 'artist'], dtype=object)

In [15]:
different_cols = ['duration_ms','key','mode','time_signature','target',
       'song_title', 'artist']
spotify2 = spotify[different_cols]

In [16]:
spotify2.head()

,duration_ms,key,mode,time_signature,target,song_title,artist
0,204600,2,1,4.0,1,Mask Off,Future
1,326933,1,1,4.0,1,Redbone,Childish Gambino
2,185707,2,1,4.0,1,Xanny Family,Future
3,199413,5,1,4.0,1,Master Of None,Beach House
4,392893,5,0,4.0,1,Parallel Lines,Junior Boys

In [17]:
spotify2.dtypes

duration_ms         int64
key                 int64
mode                int64
time_signature    float64
target              int64
song_title         object
artist             object
dtype: object

In [18]:
original_mem = spotify2.memory_usage(deep=True)
original_mem

Index              16136
duration_ms        16136
key                16136
mode               16136
time_signature     16136
target             16136
song_title        150935
artist            137849
dtype: int64

In [19]:
spotify2.key.unique()

array([ 2,  1,  5,  8, 10, 11,  7,  0,  9,  6,  4,  3], dtype=int64)

In [20]:
spotify2["mode"].unique() #There is no need to use 64 bits for mode column as it contains, let's convert it into an 8-bit(1-byte) inter using astype

array([1, 0], dtype=int64)

In [21]:
spotify2["mode"] = spotify2["mode"].astype(np.int8)
spotify2["target"] = spotify2["target"].astype(np.int8)
spotify2["key"] = spotify2["key"].astype(np.int8)

<ipython-input-21-162ee819af53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify2["mode"] = spotify2["mode"].astype(np.int8)
<ipython-input-21-162ee819af53>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify2["target"] = spotify2["target"].astype(np.int8)
<ipython-input-21-162ee819af53>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spotify2["key"] = spotify2["key"].astype(np.int8)

In [22]:
spotify2.dtypes

duration_ms         int64
key                  int8
mode                 int8
time_signature    float64
target               int8
song_title         object
artist             object
dtype: object

In [23]:
new_memory = spotify2.memory_usage(deep=True)
new_memory

Index              16136
duration_ms        16136
key                 2017
mode                2017
time_signature     16136
target              2017
song_title        150935
artist            137849
dtype: int64

In [24]:
new_memory/original_mem #Mode,key and taget value shrunk to 1/8 of the original value

Index             1.000
duration_ms       1.000
key               0.125
mode              0.125
time_signature    1.000
target            0.125
song_title        1.000
artist            1.000
dtype: float64

## Selecting the smallest of the largest

In [25]:
spotify.head(2)

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.02190,2,0.165,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.00611,1,0.137,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino

In [26]:
#using the nlargest method to select the top 100 dancable songs
col3 = ["song_title","artist","danceability","energy","key"]
spotify3 = spotify[col3]
spotify3.head()

       song_title            artist  danceability  energy  key
0        Mask Off            Future         0.833   0.434    2
1         Redbone  Childish Gambino         0.743   0.359    1
2    Xanny Family            Future         0.838   0.412    2
3  Master Of None       Beach House         0.494   0.338    5
4  Parallel Lines       Junior Boys         0.678   0.561    5

In [27]:
spotify3.nlargest(50,"danceability").head(5)

                  song_title             artist  danceability  energy  key
1433  Flashwind - Radio Edit       Ben Remember         0.984   0.941    9
1901                SexyBack  Justin Timberlake         0.967   0.583    7
604        Check Me Out Like          Blaqstarr         0.962   0.592    9
32               Best Friend         Young Thug         0.959   0.598    8
1957            Ice Ice Baby        Vanilla Ice         0.959   0.545    7

In [28]:
#lowest non-energy songs among those 100 songs dancable songs
spotify3.nlargest(50,"danceability").nsmallest(5,"energy")

,song_title,artist,danceability,energy,key
1389,장가갈 수 있을까 Can I Get Married?,Coffeeboy,0.894,0.161,4
1591,Little Green Apple,Tumble Tots,0.941,0.256,1
1411,Neighbors,J. Cole,0.894,0.284,11
319,Who Is He (And What Is He to You?),Bill Withers,0.912,0.317,6
370,Probably Nu It,Tree,0.893,0.378,9

In [29]:
# Selecting the largest of each group by sorting
spotify3.sort_values("energy", ascending=False).head()
#spotify3.sort_values(["danceability","energy"], ascending=False).head()

             song_title                    artist  danceability  energy  key
1299      No Absolution         Thy Art Is Murder         0.468   0.998    9
1322         Pitchblack  Walking Dead On Broadway         0.428   0.997    8
1297  A Darkened Gospel      A Wake in Providence         0.455   0.994    4
1347         Unanswered           Suicide Silence         0.329   0.993    6
2015      First Contact                Twin Moons         0.557   0.992    1

In [30]:
spotify3.sort_values(["danceability","energy"], ascending=False).head()

                  song_title             artist  danceability  energy  key
1433  Flashwind - Radio Edit       Ben Remember         0.984   0.941    9
1901                SexyBack  Justin Timberlake         0.967   0.583    7
604        Check Me Out Like          Blaqstarr         0.962   0.592    9
32               Best Friend         Young Thug         0.959   0.598    8
1957            Ice Ice Baby        Vanilla Ice         0.959   0.545    7

In [31]:
spotify_keys = spotify3.drop_duplicates(subset="key").sort_values(by="key")
spotify_keys.head()

                   song_title            artist  danceability  energy  key
12                    Cemalim       Erkin Koray         0.603   0.434    0
1                     Redbone  Childish Gambino         0.743   0.359    1
0                    Mask Off            Future         0.833   0.434    2
49     Odofo Nyi Akyiri Biara        Ebo Taylor         0.716   0.957    3
17  One Nation Under a Groove        Funkadelic         0.789   0.659    4

## Selecting subsets of data

In [32]:
netflix2 = netflix.set_index('title')

In [33]:
duration = netflix2['duration']
duration.head(3)

title
3%       4 Seasons
7:19        93 min
23:59       78 min
Name: duration, dtype: object

In [34]:
duration.iloc[3]

'80 min'

In [35]:
duration.iloc[[10,20,30]] #different intergers locations

title
1922                    103 min
​​Kuch Bheege Alfaaz    110 min
#cats_the_mewvie         90 min
Name: duration, dtype: object

In [36]:
duration.iloc[4:50:10] #Slice notation

title
21                                       123 min
3022                                      91 min
​SAINT SEIYA: Knights of the Zodiac    2 Seasons
#Roxy                                    105 min
Æon Flux                                  93 min
Name: duration, dtype: object

In [37]:
duration.loc['​​Kuch Bheege Alfaaz']

'110 min'

In [38]:
np.random.seed(1)
labels = list(np.random.choice(duration.index,4))
labels

['Remember',
 'A Taiwanese Tale of Two Cities',
 "Masha's Spooky Stories",
 'Rhys Nicholson Live at the Athenaeum']

In [39]:
duration.loc[labels]

title
Remember                                  95 min
A Taiwanese Tale of Two Cities          1 Season
Masha's Spooky Stories                  1 Season
Rhys Nicholson Live at the Athenaeum      66 min
Name: duration, dtype: object

In [40]:
duration.loc["​​Kuch Bheege Alfaaz" : "Remember" : 500]

title
​​Kuch Bheege Alfaaz         110 min
Angela's Christmas Wish       48 min
Bobby Sands: 66 Days         106 min
Crazy Awesome Teachers       102 min
Erased                      1 Season
Grass                         57 min
Inspector Gadget           4 Seasons
Laerte-se                    101 min
MegaTruckers                1 Season
NOVA: Bird Brain              53 min
Qarib Qarib Singlle          120 min
Name: duration, dtype: object

In [41]:
#Selecting DataFrame rows
netflix2.head(2)

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
3%,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
7:19,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [42]:
netflix2.iloc[3]

type                                                        Movie
director                                              Shane Acker
cast            Elijah Wood, John C. Reilly, Jennifer Connelly...
country                                             United States
date_added                                      November 16, 2017
release_year                                  2009-01-01 00:00:00
rating                                                      PG-13
duration                                                   80 min
listed_in       Action & Adventure, Independent Movies, Sci-Fi...
description     In a postapocalyptic world, rag-doll robots hi...
Name: 9, dtype: object

In [43]:
netflix2.loc["​​Kuch Bheege Alfaaz"]

type                                                        Movie
director                                                     Onir
cast            Geetanjali Thapa, Zain Khan Durrani, Shray Rai...
country                                                     India
date_added                                      September 1, 2018
release_year                                  2018-01-01 00:00:00
rating                                                      TV-14
duration                                                  110 min
listed_in        Dramas, Independent Movies, International Movies
description     After accidentally connecting over the Interne...
Name: ​​Kuch Bheege Alfaaz, dtype: object

In [44]:
netflix2.iloc[[30,60,90]]

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
#cats_the_mewvie,Movie,Michael Margolis,NaN,Canada,"February 5, 2020",2020-01-01,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
12 ROUND GUN,Movie,Sam Upton,"Sam Upton, Jared Abrahamson, Mark Boone Junior...",United States,"March 14, 2019",2017-01-01,TV-MA,90 min,"Dramas, Independent Movies, Sports Movies",Dealing with personal demons and the death of ...
25 Kille,Movie,Simranjit Singh Hundal,"Guggu Gill, Yograj Singh, Sonia Mann, Jimmy Sh...",India,"October 1, 2018",2016-01-01,TV-14,140 min,"Action & Adventure, Dramas, International Movies",Four brothers learn that they have inherited a...

In [45]:
#same can be reproduced using loc indexer
labels = netflix2.iloc[[30,60,90]].index.tolist()
#labels = ["#cats_the_mewvie","12 ROUND GUN","25 Kille"]
netflix2.loc[labels]

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
#cats_the_mewvie,Movie,Michael Margolis,NaN,Canada,"February 5, 2020",2020-01-01,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
12 ROUND GUN,Movie,Sam Upton,"Sam Upton, Jared Abrahamson, Mark Boone Junior...",United States,"March 14, 2019",2017-01-01,TV-MA,90 min,"Dramas, Independent Movies, Sports Movies",Dealing with personal demons and the death of ...
25 Kille,Movie,Simranjit Singh Hundal,"Guggu Gill, Yograj Singh, Sonia Mann, Jimmy Sh...",India,"October 1, 2018",2016-01-01,TV-14,140 min,"Action & Adventure, Dramas, International Movies",Four brothers learn that they have inherited a...

In [46]:
#selecting segment of dataset
netflix2.iloc[87:91]
#netflix2.loc["21 Thunder": "25 Kille"]

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
21 Thunder,TV Show,NaN,"Stephanie Bennett, Emmanuel Kabongo, RJ Fether...",Canada,"March 1, 2018",2017-01-01,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",Players and coaches for a Montreal soccer team...
2307: Winter's Dream,Movie,Joey Curtis,"Paul Sidhu, Arielle Holmes, Branden Coles, Kel...",United States,"March 1, 2018",2016-01-01,TV-MA,101 min,"Action & Adventure, Independent Movies, Sci-Fi...",In the frozen tundra of a futuristic Arizona w...
24 Hours to Live,Movie,Brian Smrz,"Ethan Hawke, Xu Qing, Paul Anderson, Rutger Ha...","South Africa, China, United States","April 7, 2018",2017-01-01,R,93 min,Action & Adventure,"Revived by an experimental procedure, a hit ma..."
25 Kille,Movie,Simranjit Singh Hundal,"Guggu Gill, Yograj Singh, Sonia Mann, Jimmy Sh...",India,"October 1, 2018",2016-01-01,TV-14,140 min,"Action & Adventure, Dramas, International Movies",Four brothers learn that they have inherited a...

In [47]:
#Selecting rows and columns silmultaneously
netflix2.iloc[:3,:4]
#netflix2.loc[:"23:59",:"country"]

,type,director,cast,country
title,,,,
3%,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil
7:19,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico
23:59,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore

In [48]:
netflix2.iloc[:,[1,6]].head() #Selecting two different columns

                director rating
title
3%                   NaN  TV-MA
7:19   Jorge Michel Grau  TV-MA
23:59       Gilbert Chan      R
9            Shane Acker  PG-13
21        Robert Luketic  PG-13

In [49]:
netflix2.iloc[[100,150],[1,6]] #Selecting disjointed rows and columns 
#netflix2.loc[["3 Idiots","A Billion Colour Story"],["director","rating"]]

                                          director rating
title
3 Idiots                           Rajkumar Hirani  PG-13
A Billion Colour Story  Padmakumar Narasimhamurthy  TV-14

In [50]:
#Selecting a single scalar value
netflix2.iloc[5,-7] #5th row value in the 7th column from the end which is "country"

'Turkey'

In [51]:
#You can also assign variables for selection 
col_start = netflix2.columns.get_loc("country")
col_end = netflix2.columns.get_loc("listed_in")+1
netflix2.iloc[:5, col_start:col_end] #you can also assign values to the rows instead of passing scalar values

,country,date_added,release_year,rating,duration,listed_in
title,,,,,,
3%,Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &..."
7:19,Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies"
23:59,Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies"
9,United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi..."
21,United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas

## Speeding up scalar selection
Both the .iloc and .loc indexers are capable of selecting a single element, a scalar value,
from a Series or DataFrame. However, there exist the indexers, .iat and .at, which
respectively achieve the same thing at faster speeds. Like .iloc, the .iat indexer uses
integer location to make its selection and must be passed two integers separated by a
comma. Similar to .loc, the .at index uses labels to make its selection and must be passed
an index and column label separated by a comma.

In [52]:
%timeit netflix2.iloc[3,7]

27.5 µs ± 2.55 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [53]:
%timeit netflix2.iat[3,7]

19.1 µs ± 2.05 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

## Slicing Rows lazyily

In [54]:
netflix2[10:16:2] #Start, End, Step

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
1922,Movie,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,"October 20, 2017",2017-01-01,TV-MA,103 min,"Dramas, Thrillers",A farmer pens a confession admitting to his wi...
1994,TV Show,Diego Enrique Osorno,NaN,Mexico,"May 17, 2019",2019-01-01,TV-MA,1 Season,"Crime TV Shows, Docuseries, International TV S...",Archival video and new interviews examine Mexi...
3022,Movie,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,"March 19, 2020",2019-01-01,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...

In [55]:
netflix2["duration"] #Most commanly used

title
3%                                         4 Seasons
7:19                                          93 min
23:59                                         78 min
9                                             80 min
21                                           123 min
                                             ...
Zozo                                          99 min
Zubaan                                       111 min
Zulu Man in Japan                             44 min
Zumbo's Just Desserts                       1 Season
ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS       90 min
Name: duration, Length: 7787, dtype: object

In [56]:
#Slicing Lexicographically
netflix2.sort_index(inplace=True)

In [57]:
netflix2.loc["#A":"Th"].head(3)
#netflix2.sort_index(ascending=False,inplace=True)
#netflix2.loc["Th","#A"]

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
#Alive,Movie,Cho Il,"Yoo Ah-in, Park Shin-hye",South Korea,"September 8, 2020",2020-01-01,TV-MA,99 min,"Horror Movies, International Movies, Thrillers","As a grisly virus rampages a city, a lone man ..."
#AnneFrank - Parallel Stories,Movie,"Sabina Fedeli, Anna Migotto","Helen Mirren, Gengher Gatti",Italy,"July 1, 2020",2019-01-01,TV-14,95 min,"Documentaries, International Movies","Through her diary, Anne Frank's story is retol..."
#FriendButMarried,Movie,Rako Prijanto,"Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,"May 21, 2020",2018-01-01,TV-G,102 min,"Dramas, International Movies, Romantic Movies","Pining for his high school crush for years, a ..."

In [58]:
netflix.head(3).style.highlight_null("red")

## Filtering Data

In [59]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [60]:
song_duration = spotify["duration_ms"] > 200000 
song_duration.head()

0     True
1     True
2    False
3    False
4     True
Name: duration_ms, dtype: bool

In [61]:
song_duration.shape

(2017,)

In [62]:
song_duration.sum(), round(song_duration.mean(),2)*100

(1513, 75.0)

In [63]:
song_duration.describe()

count     2017
unique       2
top       True
freq      1513
Name: duration_ms, dtype: object

In [64]:
round(song_duration.value_counts(normalize=True),2)*100

True     75.0
False    25.0
Name: duration_ms, dtype: float64

In [65]:
criteria1 = spotify.duration_ms > 200000
criteria2 = spotify.energy > 0.2
criteria3 = spotify.acousticness > 0.03

criteria_final = criteria1&criteria2&criteria3
criteria_final.shape,criteria_final.sum(), round(criteria_final.mean(),2)*100

((2017,), 847, 42.0)

In [66]:
spotify[criteria_final].head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
1,0.1990,0.743,326933,0.359,0.00611,1,0.137,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
4,0.1800,0.678,392893,0.561,0.51200,5,0.439,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys
8,0.0481,0.603,202853,0.944,0.00000,11,0.342,-3.626,0,0.3470,130.035,4.0,0.398,1,I've Seen Footage,Death Grips
10,0.0572,0.525,358187,0.855,0.01430,5,0.649,-7.372,0,0.0548,111.951,3.0,0.524,1,Subways - In Flagranti Extended Edit,The Avalanches
11,0.0915,0.753,324880,0.748,0.00348,10,0.212,-8.620,1,0.0494,104.322,4.0,0.642,1,Donme Dolap - Baris K Edit,Modern Folk Üçlüsü

In [67]:
cols = ["acousticness","energy","duration_ms"]
filtered_spotify = spotify.loc[criteria_final,cols]
filtered_spotify.head()

    acousticness  energy  duration_ms
1         0.1990   0.359       326933
4         0.1800   0.561       392893
8         0.0481   0.944       202853
10        0.0572   0.855       358187
11        0.0915   0.748       324880

Boolean indexing necessarily filters your dataset by removing all the rows that don't match
the criteria. Instead of dropping all these values, it is possible to keep them using the where
method. The where method preserves the size of your Series or DataFrame and either sets
the values that don't meet the criteria to missing or replaces them with something else.

In [68]:
filtered_spotify.sort_values(["energy"], ascending=False,inplace=True)
filtered_spotify.head(5).style.highlight_max()
#filtered_spotify.head(5).style.highlight_min()

In [69]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [70]:
cols= ['acousticness', 'danceability', 'energy','instrumentalness','liveness','speechiness','valence','song_title']
spotify4 = spotify[cols]
spotify4.set_index("song_title",inplace=True)
spotify4.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,valence
song_title,,,,,,,
Mask Off,0.0102,0.833,0.434,0.021900,0.1650,0.4310,0.286
Redbone,0.1990,0.743,0.359,0.006110,0.1370,0.0794,0.588
Xanny Family,0.0344,0.838,0.412,0.000234,0.1590,0.2890,0.173
Master Of None,0.6040,0.494,0.338,0.510000,0.0922,0.0261,0.230
Parallel Lines,0.1800,0.678,0.561,0.512000,0.4390,0.0694,0.904

In [71]:
max_spotify = spotify4.idxmax(axis="index")
max_spotify.head()

acousticness                  Lyric Pieces, Book I Op. 12: I. Arietta
danceability                                   Flashwind - Radio Edit
energy                                                  No Absolution
instrumentalness                                      Senseless Order
liveness            dance yrself clean - live at madison square ga...
dtype: object

In [72]:
max_spotify_columns = spotify4.idxmax(axis="columns")
round(max_spotify_columns.value_counts(normalize=True),2)*100

energy              49.0
danceability        24.0
valence             13.0
acousticness         8.0
instrumentalness     4.0
liveness             1.0
dtype: float64