# INTRODUCTION TO PANDAS

In [1]:
#Importing pandas library
import pandas as pd

In [2]:
#Loading the data using read function
netflix = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\/netflix_titles.csv", parse_dates=["release_year"])
spotify = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\Spotify.csv")

In [3]:
#Displaying the first
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

## Understanding DataFrame Atrributes

In [4]:
#Using dataframe attribute index and assiging them variables.
index = netflix.index

In [5]:
index

RangeIndex(start=0, stop=7787, step=1)

In [6]:
type(index)

pandas.core.indexes.range.RangeIndex

In [7]:
index.values

array([   0,    1,    2, ..., 7784, 7785, 7786], dtype=int64)

In [8]:
#Using dataframe attribute column and assiging them variables.
columns = netflix.columns

In [9]:
columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
type(columns)

pandas.core.indexes.base.Index

In [11]:
columns.values

array(['show_id', 'type', 'title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'description'], dtype=object)

In [12]:
#Using dataframe attribute values and assiging them variables.
values = netflix.values

In [13]:
values

array([['s1', 'TV Show', '3%', ..., '4 Seasons',
        'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
        'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.'],
       ['s2', 'Movie', '7:19', ..., '93 min',
        'Dramas, International Movies',
        'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.'],
       ['s3', 'Movie', '23:59', ..., '78 min',
        'Horror Movies, International Movies',
        "When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp."],
       ...,
       ['s7785', 'Movie', 'Zulu Man in Japan', ..., '44 min',
        'Documentaries, International Movies, Music & Musicals',
        "In this documentary, South African rapper Nasty C hits the stage and streets of Tokyo, introducing himself to the city's sights, sounds and culture."],
       ['s7786', 'TV Show', "Zumbo's Just Desserts", ..., '1 Season',
        'International TV Shows, Reality TV',
        'Dessert wizard Adriano Zumbo looks for the next “Willy Wonka” in this tense competition that finds skilled amateurs competing for a $100,000 prize.'],
       ['s7787', 'Movie', "ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS", ...,
        '90 min', 'Documentaries, Music & Musicals',
        'This documentary delves into the mystique behind the blues-rock trio and explores how the enigmatic band created their iconic look and sound.']],
      dtype=object)

In [14]:
type(values)

numpy.ndarray

In [15]:
#dtypes attributes to display colum along with their data type
netflix.dtypes

show_id                 object
type                    object
title                   object
director                object
cast                    object
country                 object
date_added              object
release_year    datetime64[ns]
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [16]:
#value_counts retuns the counts of each data type
netflix.dtypes.value_counts()

object            11
datetime64[ns]     1
dtype: int64

## Selecting single column of data as a Series

In [17]:
netflix.director #Accessing the column using dot notation

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [18]:
#Passing a single string to the DataFrame indexing operator returns a Series
type(netflix.director)

pandas.core.series.Series

In [19]:
#Notice the old column is the name of the series and has actually become an attribute
director = netflix["director"]
director.name

'director'

In [20]:
#It is possible to convert series into single coulmn dataframe using to_frame method
director = director.to_frame()
director.head()

            director
0                NaN
1  Jorge Michel Grau
2       Gilbert Chan
3        Shane Acker
4     Robert Luketic

In [21]:
type(director)

pandas.core.frame.DataFrame

In [22]:
#Director count is more useful for series with object data types
director.value_counts()

director
Raúl Campos, Jan Suter                 18
Marcus Raboy                           16
Jay Karas                              14
Cathy Garcia-Molina                    13
Martin Scorsese                        12
                                       ..
Surya S.J., Sunil Kumar Agrawal         1
Lynn Novick                             1
Lygia Barbosa da Silva, Eliane Brum     1
Lydia Tenaglia                          1
Kevin Reynolds                          1
Length: 4049, dtype: int64

In [23]:
netflix.rating.value_counts() #Here we get the counts of movies as per rating.

TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

In [24]:
#Sape, size attributes and len() function can retunr the counting of the elements
director.shape

(7787, 1)

In [25]:
director.size

7787

In [26]:
len(director)

7787

In [27]:
director.count() #Here the count() function only retunrs the count of non-nan values

director    5398
dtype: int64

## Basic Stats using Pandas