# INTRODUCTION TO PANDAS

In [1]:
#Importing pandas library
import pandas as pd

In [2]:
#Loading the data using read function
netflix = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\/netflix_titles.csv", parse_dates=["release_year"],index_col="show_id")
spotify = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\Spotify.csv", index_col="Unnamed: 0")

In [3]:
#Displaying the first
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

## Understanding DataFrame Atrributes

In [4]:
#Using dataframe attribute index and assiging them variables.
index = netflix.index

In [5]:
index

Index(['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10',
       ...
       's7778', 's7779', 's7780', 's7781', 's7782', 's7783', 's7784', 's7785',
       's7786', 's7787'],
      dtype='object', name='show_id', length=7787)

In [6]:
type(index)

pandas.core.indexes.base.Index

In [7]:
index.values

array(['s1', 's2', 's3', ..., 's7785', 's7786', 's7787'], dtype=object)

In [8]:
#Using dataframe attribute column and assiging them variables.
columns = netflix.columns

In [9]:
columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
type(columns)

pandas.core.indexes.base.Index

In [11]:
columns.values

array(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype=object)

In [12]:
#Using dataframe attribute values and assiging them variables.
values = netflix.values

In [13]:
type(values)

numpy.ndarray

In [14]:
values

array([['TV Show', '3%', nan, ..., '4 Seasons',
        'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
        'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.'],
       ['Movie', '7:19', 'Jorge Michel Grau', ..., '93 min',
        'Dramas, International Movies',
        'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.'],
       ['Movie', '23:59', 'Gilbert Chan', ..., '78 min',
        'Horror Movies, International Movies',
        "When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp."],
       ...,
       ['Movie', 'Zulu Man in Japan', nan, ..., '44 min',
        'Documentaries, International Movies, Music & Musicals',
        "In this documentary, South African rapper Nasty C hits the stage and streets of Tokyo, introducing himself to the city's sights, sounds and culture."],
       ['TV Show', "Zumbo's Just Desserts", nan, ..., '1 Season',
        'International TV Shows, Reality TV',
        'Dessert wizard Adriano Zumbo looks for the next “Willy Wonka” in this tense competition that finds skilled amateurs competing for a $100,000 prize.'],
       ['Movie', "ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS", 'Sam Dunn',
        ..., '90 min', 'Documentaries, Music & Musicals',
        'This documentary delves into the mystique behind the blues-rock trio and explores how the enigmatic band created their iconic look and sound.']],
      dtype=object)

In [15]:
#dtypes attributes to display column along with their data type
netflix.dtypes

type                    object
title                   object
director                object
cast                    object
country                 object
date_added              object
release_year    datetime64[ns]
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [16]:
#value_counts retuns the counts of each data type
netflix.dtypes.value_counts()

object            10
datetime64[ns]     1
dtype: int64

## Selecting single column of data as a Series

In [17]:
netflix.director #Accessing the column using dot notation

show_id
s1                     NaN
s2       Jorge Michel Grau
s3            Gilbert Chan
s4             Shane Acker
s5          Robert Luketic
               ...
s7783          Josef Fares
s7784          Mozez Singh
s7785                  NaN
s7786                  NaN
s7787             Sam Dunn
Name: director, Length: 7787, dtype: object

In [18]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7787 entries, s1 to s7787
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          7787 non-null   object
 1   title         7787 non-null   object
 2   director      5398 non-null   object
 3   cast          7069 non-null   object
 4   country       7280 non-null   object
 5   date_added    7777 non-null   object
 6   release_year  7787 non-null   datetime64[ns]
 7   rating        7780 non-null   object
 8   duration      7787 non-null   object
 9   listed_in     7787 non-null   object
 10  description   7787 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 1.0+ MB

In [19]:
#Passing a single string to the DataFrame indexing operator returns a Series
type(netflix.director)

pandas.core.series.Series

In [20]:
#Notice the old column is the name of the series and has actually become an attribute
director = netflix["director"]
director.name

'director'

In [21]:
#It is possible to convert series into single coulmn dataframe using to_frame method
director = director.to_frame()
director.head()

                  director
show_id
s1                     NaN
s2       Jorge Michel Grau
s3            Gilbert Chan
s4             Shane Acker
s5          Robert Luketic

In [22]:
type(director)

pandas.core.frame.DataFrame

In [23]:
#Director count is more useful for series with object data types
director.value_counts()

director
Raúl Campos, Jan Suter                 18
Marcus Raboy                           16
Jay Karas                              14
Cathy Garcia-Molina                    13
Martin Scorsese                        12
                                       ..
Surya S.J., Sunil Kumar Agrawal         1
Lynn Novick                             1
Lygia Barbosa da Silva, Eliane Brum     1
Lydia Tenaglia                          1
Kevin Reynolds                          1
Length: 4049, dtype: int64

In [24]:
netflix.rating.value_counts() #Here we get the counts of movies as per rating.

TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

In [25]:
#Sape, size attributes and len() function can retunr the counting of the elements
director.shape

(7787, 1)

In [26]:
director.size

7787

In [27]:
len(director)

7787

In [28]:
director.count() #Here the count() function only retunrs the count of non-nan values

director    5398
dtype: int64

## Basic Stats using Pandas

In [29]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [30]:
duration = spotify.duration_ms
duration = duration.to_frame()
type(duration)

pandas.core.frame.DataFrame

In [31]:
#Using min(),max(),sum(),median() and mean() methods to yeild basic stats result
duration.sum(),duration.min(),duration.max(), duration.mean(), duration.median()

(duration_ms    496799600
 dtype: int64,
 duration_ms    16042
 dtype: int64,
 duration_ms    1004627
 dtype: int64,
 duration_ms    246306.197323
 dtype: float64,
 duration_ms    229261.0
 dtype: float64)

In [32]:
#Pandas has a dedicated menthod to calculate the above same.
duration.describe()

        duration_ms
count  2.017000e+03
mean   2.463062e+05
std    8.198181e+04
min    1.604200e+04
25%    2.000150e+05
50%    2.292610e+05
75%    2.703330e+05
max    1.004627e+06

In [33]:
#Quantile method to calculate an exact numeric data
duration.quantile(0.2)

duration_ms    194135.8
Name: 0.2, dtype: float64

In [34]:
#You can pass list to values to yeild the below numeric data
duration.quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])

     duration_ms
0.1     176650.2
0.2     194135.8
0.3     205724.6
0.4     217427.4
0.5     229261.0
0.6     242701.0
0.7     258418.4
0.8     285192.8
0.9     332968.0

## Filling Missing Values

In [35]:
#with isnull() method we can check if a dataframe has nan/null values or not.
director.isnull().value_counts()

director
False       5398
True        2389
dtype: int64

In [36]:
#filling nan values with 0 or with mean/median it depends on the data
director_filled = director.fillna(0)
director_filled.count()

director    7787
dtype: int64

In [37]:
director_dropped = director.dropna()
director_dropped.count()

director    5398
dtype: int64

In [38]:
director.value_counts(normalize=True)

director
Raúl Campos, Jan Suter                 0.003335
Marcus Raboy                           0.002964
Jay Karas                              0.002594
Cathy Garcia-Molina                    0.002408
Martin Scorsese                        0.002223
                                         ...
Surya S.J., Sunil Kumar Agrawal        0.000185
Lynn Novick                            0.000185
Lygia Barbosa da Silva, Eliane Brum    0.000185
Lydia Tenaglia                         0.000185
Kevin Reynolds                         0.000185
Length: 4049, dtype: float64

In [39]:
director.notnull().value_counts() #it is complement function for isnull

director
True        5398
False       2389
dtype: int64

## Methods Chaining

In [40]:
director.value_counts().head(3)

director
Raúl Campos, Jan Suter    18
Marcus Raboy              16
Jay Karas                 14
dtype: int64

In [41]:
director.notnull().sum()

director    5398
dtype: int64

In [42]:
director.isnull().sum()

director    2389
dtype: int64

In [43]:
director.isnull().mean()

director    0.306793
dtype: float64

In [44]:
director.notnull().mean()

director    0.693207
dtype: float64

## Renaming row and column names

In [45]:
netflix.head(3)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

In [46]:
#making dictinary and then replacing the dictionary with original one
idx_rename = {"s1": "S1",\
               "s2" : "S2" }
col_rename = {  "show_id" : "SHOW_ID",\
                'type' : "TYPE",\
                'title' : "TITLE",\
                'director': "DIRECTOR",\
                'cast': "CAST",\
                'country' : "COUNTRY",\
                'date_added' : "DATE_ADDED",\
                'release_year': "RELEASE_YEAR",\
                'rating' : "RATING",\
                'duration': "DURATION",\
                'listed_in' : "LISTED_IN",\
                'description' : "DESCRIPTION"}

In [47]:
netflix_renamed = netflix.rename(index = idx_rename,\
    columns = col_rename)

In [48]:
netflix_renamed.head(3) #Here we can notice the index column is not renamed, because pandas is not treating it like a column.

,TYPE,TITLE,DIRECTOR,CAST,COUNTRY,DATE_ADDED,RELEASE_YEAR,RATING,DURATION,LISTED_IN,DESCRIPTION
show_id,,,,,,,,,,,
S1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
S2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

In [49]:
index = netflix_renamed.index
columns = netflix_renamed.columns

index_list = index.tolist()
column_list = columns.tolist()

In [50]:
index_list[0] = "s1_test"
index_list[1] = "s2_test"
column_list[0] = "Type_test"
column_list[1] = "Title_test"

In [51]:
netflix_renamed.index = index_list
netflix_renamed.columns = column_list
netflix_renamed.head(3)

,Type_test,Title_test,DIRECTOR,CAST,COUNTRY,DATE_ADDED,RELEASE_YEAR,RATING,DURATION,LISTED_IN,DESCRIPTION
s1_test,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2_test,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."

## Creating and deleting columns

In [52]:
spotify["special_metric"] = 0
spotify.head(3)

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist,special_metric
0,0.0102,0.833,204600,0.434,0.021900,2,0.165,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future,0
1,0.1990,0.743,326933,0.359,0.006110,1,0.137,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino,0
2,0.0344,0.838,185707,0.412,0.000234,2,0.159,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future,0

In [53]:
# we can also create new columnns out of old one
spotify["special_metric"] = spotify.instrumentalness/(spotify.danceability + spotify.liveness)

In [54]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist,special_metric
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future,0.021944
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino,0.006943
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future,0.000235
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House,0.870010
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys,0.458371

In [55]:
del spotify["special_metric"]

In [56]:
song_metric = spotify.columns.get_loc("energy")+1
song_metric

4

In [57]:
spotify.insert(loc = song_metric, column = "song_metric", value = spotify.instrumentalness/(spotify.danceability + spotify.liveness))

In [58]:
spotify.head()

,acousticness,danceability,duration_ms,energy,song_metric,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021944,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006943,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000235,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.870010,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.458371,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

## Selecting multiple DataFrame Columns

In [59]:
spotify.head(3)

,acousticness,danceability,duration_ms,energy,song_metric,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021944,0.021900,2,0.165,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006943,0.006110,1,0.137,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000235,0.000234,2,0.159,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future

In [60]:
song_spec = spotify[["acousticness", "danceability","energy","liveness"]]

In [61]:
song_spec.head(3)

   acousticness  danceability  energy  liveness
0        0.0102         0.833   0.434     0.165
1        0.1990         0.743   0.359     0.137
2        0.0344         0.838   0.412     0.159

In [62]:
type(song_spec)

pandas.core.frame.DataFrame

In [63]:
#The upper method may cause readability
cols = ["acousticness", "danceability","energy","liveness"]
song_spec_2 = spotify[cols]
song_spec_2.head(3)

   acousticness  danceability  energy  liveness
0        0.0102         0.833   0.434     0.165
1        0.1990         0.743   0.359     0.137
2        0.0344         0.838   0.412     0.159

#### comman mistake passing only the column names without using the list

In [64]:
#using methods to select columns
spotify.dtypes.value_counts()

float64    11
int64       4
object      2
dtype: int64

In [65]:
spotify.select_dtypes(include=["int64"]).head(3)

   duration_ms  key  mode  target
0       204600    2     1       1
1       326933    1     1       1
2       185707    2     1       1

In [66]:
spotify.select_dtypes(include=["number"]).head(3) #float64+int64

,acousticness,danceability,duration_ms,energy,song_metric,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target
0,0.0102,0.833,204600,0.434,0.021944,0.021900,2,0.165,-8.795,1,0.4310,150.062,4.0,0.286,1
1,0.1990,0.743,326933,0.359,0.006943,0.006110,1,0.137,-10.401,1,0.0794,160.083,4.0,0.588,1
2,0.0344,0.838,185707,0.412,0.000235,0.000234,2,0.159,-7.148,1,0.2890,75.044,4.0,0.173,1

In [67]:
spotify.filter(like="song").head()

   song_metric      song_title
0     0.021944        Mask Off
1     0.006943         Redbone
2     0.000235    Xanny Family
3     0.870010  Master Of None
4     0.458371  Parallel Lines

In [68]:
spotify.filter(regex="_").head(2)

   duration_ms  song_metric  time_signature song_title
0       204600     0.021944             4.0   Mask Off
1       326933     0.006943             4.0    Redbone

## Ordering Columns for better use

In [69]:
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [70]:
netflix.columns.values

array(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype=object)

In [71]:
core_col = ["type","title","rating"]
date_col = ["date_added","release_year"]
people_col=["director","cast"]
other_col = ["country","duration","listed_in","description"]

In [72]:
new_col_order = core_col + people_col + date_col + other_col

In [73]:
set(netflix.columns) == set(new_col_order) #check if we have left anything

True

In [74]:
netflix_modified= netflix[new_col_order]
netflix_modified.head(2)

,type,title,rating,director,cast,date_added,release_year,country,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,TV-MA,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...","August 14, 2020",2020-01-01,Brazil,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,TV-MA,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...","December 23, 2016",2016-01-01,Mexico,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [75]:
netflix.head(2)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [76]:
#DATAFRAME Operations
spotify.head()

,acousticness,danceability,duration_ms,energy,song_metric,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021944,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006943,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000235,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.870010,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.458371,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [77]:
spotify.shape

(2017, 17)

In [78]:
spotify.size

34289

In [79]:
spotify.ndim

2

In [80]:
len(spotify)

2017

In [81]:
spotify.count()

acousticness        2017
danceability        2017
duration_ms         2017
energy              2017
song_metric         2017
instrumentalness    2017
key                 2017
liveness            2017
loudness            2017
mode                2017
speechiness         2017
tempo               2017
time_signature      2017
valence             2017
target              2017
song_title          2017
artist              2017
dtype: int64

In [82]:
spotify.min()

acousticness                                                 2.84e-06
danceability                                                    0.122
duration_ms                                                     16042
energy                                                         0.0148
song_metric                                                         0
instrumentalness                                                    0
key                                                                 0
liveness                                                       0.0188
loudness                                                      -33.097
mode                                                                0
speechiness                                                    0.0231
tempo                                                          47.859
time_signature                                                      1
valence                                                        0.0348
target                                                              0
song_title          $ave Dat Money (feat. Fetty Wap & Rich Homie Q...
artist                                                            !!!
dtype: object

In [83]:
spotify.min()

acousticness                                                 2.84e-06
danceability                                                    0.122
duration_ms                                                     16042
energy                                                         0.0148
song_metric                                                         0
instrumentalness                                                    0
key                                                                 0
liveness                                                       0.0188
loudness                                                      -33.097
mode                                                                0
speechiness                                                    0.0231
tempo                                                          47.859
time_signature                                                      1
valence                                                        0.0348
target                                                              0
song_title          $ave Dat Money (feat. Fetty Wap & Rich Homie Q...
artist                                                            !!!
dtype: object

In [84]:
#if there is nan values in the data
# spotify.min(skipna=False)

In [85]:
spotify.describe().T

,count,mean,std,min,25%,50%,75%,max
acousticness,2017.0,0.187590,0.259989,0.000003,0.00963,0.063300,0.265000,9.950000e-01
danceability,2017.0,0.618422,0.161029,0.122000,0.51400,0.631000,0.738000,9.840000e-01
duration_ms,2017.0,246306.197323,81981.814219,16042.000000,200015.00000,229261.000000,270333.000000,1.004627e+06
energy,2017.0,0.681577,0.210273,0.014800,0.56300,0.715000,0.846000,9.980000e-01
song_metric,2017.0,0.190770,0.420677,0.000000,0.00000,0.000097,0.068882,2.524218e+00
instrumentalness,2017.0,0.133286,0.273162,0.000000,0.00000,0.000076,0.054000,9.760000e-01
key,2017.0,5.342588,3.648240,0.000000,2.00000,6.000000,9.000000,1.100000e+01
liveness,2017.0,0.190844,0.155453,0.018800,0.09230,0.127000,0.247000,9.690000e-01
loudness,2017.0,-7.085624,3.761684,-33.097000,-8.39400,-6.248000,-4.746000,-3.070000e-01
mode,2017.0,0.612295,0.487347,0.000000,0.00000,1.000000,1.000000,1.000000e+00
speechiness,2017.0,0.092664,0.089931,0.023100,0.03750,0.054900,0.108000,8.160000e-01
tempo,2017.0,121.603272,26.685604,47.859000,100.18900,121.427000,137.849000,2.193310e+02
time_signature,2017.0,3.968270,0.255853,1.000000,4.00000,4.000000,4.000000,5.000000e+00
valence,2017.0,0.496815,0.247195,0.034800,0.29500,0.492000,0.691000,9.920000e-01
target,2017.0,0.505702,0.500091,0.000000,0.00000,1.000000,1.000000,1.000000e+00

In [86]:
spotify.describe(percentiles=[.01,.03,.09]).T

,count,mean,std,min,1%,3%,9%,50%,max
acousticness,2017.0,0.187590,0.259989,0.000003,0.000021,0.000086,0.000944,0.063300,9.950000e-01
danceability,2017.0,0.618422,0.161029,0.122000,0.211000,0.283480,0.388440,0.631000,9.840000e-01
duration_ms,2017.0,246306.197323,81981.814219,16042.000000,114169.800000,145738.680000,175497.600000,229261.000000,1.004627e+06
energy,2017.0,0.681577,0.210273,0.014800,0.057708,0.148960,0.393440,0.715000,9.980000e-01
song_metric,2017.0,0.190770,0.420677,0.000000,0.000000,0.000000,0.000000,0.000097,2.524218e+00
instrumentalness,2017.0,0.133286,0.273162,0.000000,0.000000,0.000000,0.000000,0.000076,9.760000e-01
key,2017.0,5.342588,3.648240,0.000000,0.000000,0.000000,0.000000,6.000000,1.100000e+01
liveness,2017.0,0.190844,0.155453,0.018800,0.037864,0.050196,0.067000,0.127000,9.690000e-01
loudness,2017.0,-7.085624,3.761684,-33.097000,-21.852120,-16.717520,-11.470960,-6.248000,-3.070000e-01
mode,2017.0,0.612295,0.487347,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00
speechiness,2017.0,0.092664,0.089931,0.023100,0.026400,0.027800,0.030700,0.054900,8.160000e-01
tempo,2017.0,121.603272,26.685604,47.859000,72.527840,77.955280,87.726040,121.427000,2.193310e+02
time_signature,2017.0,3.968270,0.255853,1.000000,3.000000,3.000000,4.000000,4.000000,5.000000e+00
valence,2017.0,0.496815,0.247195,0.034800,0.055060,0.085596,0.157880,0.492000,9.920000e-01
target,2017.0,0.505702,0.500091,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000e+00

## DataFrame Chaninig Methods

In [87]:
netflix.isnull().sum().head(5)

type           0
title          0
director    2389
cast         718
country      507
dtype: int64

In [88]:
netflix.isnull().sum().sum()

3631

In [89]:
netflix.isnull().any().any() #Has null values

True

In [90]:
spotify.isnull().any().any() #Don't have any null values

False

In [91]:
netflix.isnull().dtypes.value_counts()

bool    11
dtype: int64

## Comparing missing values

In [92]:
import numpy as np

In [93]:
np.nan == np.nan

False

In [94]:
None == None

True

In [95]:
# Comparison against np.nan, also return False
np.nan>5, np.nan<5, np.nan!=5

(False, False, True)

In [96]:
netflix2 = netflix.copy()

In [97]:
netflix_compare = netflix == netflix2

In [98]:
netflix_compare.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,True,True,False,True,True,True,True,True,True,True,True
s2,True,True,True,True,True,True,True,True,True,True,True
s3,True,True,True,True,True,True,True,True,True,True,True
s4,True,True,True,True,True,True,True,True,True,True,True
s5,True,True,True,True,True,True,True,True,True,True,True

In [99]:
netflix_compare.all() #However using the all method to determine if each column conatins only True values yields an unexpected result

type             True
title            True
director        False
cast            False
country         False
date_added      False
release_year     True
rating          False
duration         True
listed_in        True
description      True
dtype: bool

In [100]:
#Correct way to compare the dataframes
netflix2.equals(netflix)

True

## Transpoing the direction of a DataFrame operation

In [101]:
netflix.head(2)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

In [102]:
netflix.set_index('title',inplace=True)

In [103]:
netflix.head()

,type,director,cast,country,date_added,release_year,rating,duration,listed_in,description
title,,,,,,,,,,
3%,TV Show,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
7:19,Movie,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
23:59,Movie,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
9,Movie,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
21,Movie,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [104]:
netflix.count(axis=1).tail(5) #Has a count of non-missing values (1=column, 0=index)

title
Zozo                                       10
Zubaan                                     10
Zulu Man in Japan                           8
Zumbo's Just Desserts                       9
ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS     9
dtype: int64

## End of Code !