# INTRODUCTION TO PANDAS

In [1]:
#Importing pandas library
import pandas as pd

In [2]:
#Loading the data using read function
netflix = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\/netflix_titles.csv", parse_dates=["release_year"],index_col="show_id")
spotify = pd.read_csv(r"C:\Users\Prashant\Documents\GitHub\Data_wrangling\Pandas_Series\Spotify.csv", index_col="Unnamed: 0")

In [3]:
#Displaying the first
netflix.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020-01-01,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016-01-01,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011-01-01,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009-01-01,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008-01-01,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

## Understanding DataFrame Atrributes

In [4]:
#Using dataframe attribute index and assiging them variables.
index = netflix.index

In [5]:
index

Index(['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10',
       ...
       's7778', 's7779', 's7780', 's7781', 's7782', 's7783', 's7784', 's7785',
       's7786', 's7787'],
      dtype='object', name='show_id', length=7787)

In [6]:
type(index)

pandas.core.indexes.base.Index

In [7]:
index.values

array(['s1', 's2', 's3', ..., 's7785', 's7786', 's7787'], dtype=object)

In [8]:
#Using dataframe attribute column and assiging them variables.
columns = netflix.columns

In [9]:
columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
type(columns)

pandas.core.indexes.base.Index

In [11]:
columns.values

array(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype=object)

In [12]:
#Using dataframe attribute values and assiging them variables.
values = netflix.values

In [13]:
values

array([['TV Show', '3%', nan, ..., '4 Seasons',
        'International TV Shows, TV Dramas, TV Sci-Fi & Fantasy',
        'In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor.'],
       ['Movie', '7:19', 'Jorge Michel Grau', ..., '93 min',
        'Dramas, International Movies',
        'After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive.'],
       ['Movie', '23:59', 'Gilbert Chan', ..., '78 min',
        'Horror Movies, International Movies',
        "When an army recruit is found dead, his fellow soldiers are forced to confront a terrifying secret that's haunting their jungle island training camp."],
       ...,
       ['Movie', 'Zulu Man in Japan', nan, ..., '44 min',
        'Documentaries, International Movies, Music & Musicals',
        "In this documentary, South African rapper Nasty C hits the stage and streets of Tokyo, introducing himself to the city's sights, sounds and culture."],
       ['TV Show', "Zumbo's Just Desserts", nan, ..., '1 Season',
        'International TV Shows, Reality TV',
        'Dessert wizard Adriano Zumbo looks for the next “Willy Wonka” in this tense competition that finds skilled amateurs competing for a $100,000 prize.'],
       ['Movie', "ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS", 'Sam Dunn',
        ..., '90 min', 'Documentaries, Music & Musicals',
        'This documentary delves into the mystique behind the blues-rock trio and explores how the enigmatic band created their iconic look and sound.']],
      dtype=object)

In [14]:
type(values)

numpy.ndarray

In [15]:
#dtypes attributes to display colum along with their data type
netflix.dtypes

type                    object
title                   object
director                object
cast                    object
country                 object
date_added              object
release_year    datetime64[ns]
rating                  object
duration                object
listed_in               object
description             object
dtype: object

In [16]:
#value_counts retuns the counts of each data type
netflix.dtypes.value_counts()

object            10
datetime64[ns]     1
dtype: int64

## Selecting single column of data as a Series

In [17]:
netflix.director #Accessing the column using dot notation

show_id
s1                     NaN
s2       Jorge Michel Grau
s3            Gilbert Chan
s4             Shane Acker
s5          Robert Luketic
               ...
s7783          Josef Fares
s7784          Mozez Singh
s7785                  NaN
s7786                  NaN
s7787             Sam Dunn
Name: director, Length: 7787, dtype: object

In [18]:
#Passing a single string to the DataFrame indexing operator returns a Series
type(netflix.director)

pandas.core.series.Series

In [19]:
#Notice the old column is the name of the series and has actually become an attribute
director = netflix["director"]
director.name

'director'

In [20]:
#It is possible to convert series into single coulmn dataframe using to_frame method
director = director.to_frame()
director.head()

                  director
show_id
s1                     NaN
s2       Jorge Michel Grau
s3            Gilbert Chan
s4             Shane Acker
s5          Robert Luketic

In [21]:
type(director)

pandas.core.frame.DataFrame

In [22]:
#Director count is more useful for series with object data types
director.value_counts()

director
Raúl Campos, Jan Suter                 18
Marcus Raboy                           16
Jay Karas                              14
Cathy Garcia-Molina                    13
Martin Scorsese                        12
                                       ..
Surya S.J., Sunil Kumar Agrawal         1
Lynn Novick                             1
Lygia Barbosa da Silva, Eliane Brum     1
Lydia Tenaglia                          1
Kevin Reynolds                          1
Length: 4049, dtype: int64

In [23]:
netflix.rating.value_counts() #Here we get the counts of movies as per rating.

TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

In [24]:
#Sape, size attributes and len() function can retunr the counting of the elements
director.shape

(7787, 1)

In [25]:
director.size

7787

In [26]:
len(director)

7787

In [27]:
director.count() #Here the count() function only retunrs the count of non-nan values

director    5398
dtype: int64

## Basic Stats using Pandas

In [28]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [29]:
spotify.head()

,acousticness,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,target,song_title,artist
0,0.0102,0.833,204600,0.434,0.021900,2,0.1650,-8.795,1,0.4310,150.062,4.0,0.286,1,Mask Off,Future
1,0.1990,0.743,326933,0.359,0.006110,1,0.1370,-10.401,1,0.0794,160.083,4.0,0.588,1,Redbone,Childish Gambino
2,0.0344,0.838,185707,0.412,0.000234,2,0.1590,-7.148,1,0.2890,75.044,4.0,0.173,1,Xanny Family,Future
3,0.6040,0.494,199413,0.338,0.510000,5,0.0922,-15.236,1,0.0261,86.468,4.0,0.230,1,Master Of None,Beach House
4,0.1800,0.678,392893,0.561,0.512000,5,0.4390,-11.648,0,0.0694,174.004,4.0,0.904,1,Parallel Lines,Junior Boys

In [30]:
duration = spotify.duration_ms
duration = duration.to_frame()
type(duration)

pandas.core.frame.DataFrame

In [31]:
#Using min(),max(),sum(),median() and mean() methods to yeild basic stats result
duration.sum(),duration.min(),duration.max(), duration.mean(), duration.median()

(duration_ms    496799600
 dtype: int64,
 duration_ms    16042
 dtype: int64,
 duration_ms    1004627
 dtype: int64,
 duration_ms    246306.197323
 dtype: float64,
 duration_ms    229261.0
 dtype: float64)

In [32]:
#Pandas has a dedicated menthod to calculate the above same.
duration.describe()

        duration_ms
count  2.017000e+03
mean   2.463062e+05
std    8.198181e+04
min    1.604200e+04
25%    2.000150e+05
50%    2.292610e+05
75%    2.703330e+05
max    1.004627e+06

In [33]:
#Quantile method to calculate an exact numeric data
duration.quantile(0.2)

duration_ms    194135.8
Name: 0.2, dtype: float64

In [34]:
#You can pass list to values to yeild the below numeric data
duration.quantile([0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])

     duration_ms
0.1     176650.2
0.2     194135.8
0.3     205724.6
0.4     217427.4
0.5     229261.0
0.6     242701.0
0.7     258418.4
0.8     285192.8
0.9     332968.0

## Filling Missing Values

In [35]:
#with isnull() method we can check if a dataframe has nan/null values or not.
director.isnull().value_counts()

director
False       5398
True        2389
dtype: int64

In [36]:
#filling nan values with 0 or with mean/median it depends on the data
director_filled = director.fillna(0)
director_filled.count()

director    7787
dtype: int64

In [37]:
director_dropped = director.dropna()
director_dropped.count()

director    5398
dtype: int64

In [38]:
director.value_counts(normalize=True)

director
Raúl Campos, Jan Suter                 0.003335
Marcus Raboy                           0.002964
Jay Karas                              0.002594
Cathy Garcia-Molina                    0.002408
Martin Scorsese                        0.002223
                                         ...
Surya S.J., Sunil Kumar Agrawal        0.000185
Lynn Novick                            0.000185
Lygia Barbosa da Silva, Eliane Brum    0.000185
Lydia Tenaglia                         0.000185
Kevin Reynolds                         0.000185
Length: 4049, dtype: float64

In [39]:
director.notnull().value_counts() #it is complement function for isnull

director
True        5398
False       2389
dtype: int64